<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Services">
            <directory suffix="Test.php">./tests/Unit/Services</directory>
        </testsuite>
        <testsuite name="Verifactu">
            <file>./tests/Verifactu/ReadmeAltaExampleTest.php</file>
            <file>./tests/Verifactu/ReadmeExamplesTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <file>./tests/Verifactu/VerifactuSandboxTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
