<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <exclude>./tests/Unit/HashGeneratorEncapsulationTest.php</exclude>
            <exclude>./tests/Unit/HashValidationFixTest.php</exclude>
            <exclude>./tests/Unit/VerifactuCertificateSourceTest.php</exclude>
            <exclude>./tests/Unit/VerifactuConfigEnvironmentTest.php</exclude>
            <exclude>./tests/Unit/VerifactuConfigWithContentTest.php</exclude>
            <exclude>./tests/Unit/VerifactuCriticalConfigTest.php</exclude>
            <exclude>./tests/Unit/VerifactuWsdlSelectionUnitTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
